{% extends 'apoyo/base.html' %}

{% block content %}
<main class="container py-5">
    {% csrf_token %}
    <section class="card card-body">
        <h2 class="display-1 text-center">Esto es el home</h2>
        <p>Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto 
            Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto 
            Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto 
            Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto 
            Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto 
            Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto 
            Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto Prueba de texto 
        </p>
    </section>
</main>
{% endblock %}